<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinalApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>917394CA20A28B7F00FB5772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917394DE20A28B8100FB5772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917394E920A28B8100FB5772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
